body,html {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

ul {
    list-style: none;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - -- - - - - -*/

.tt_box {
    width: 200px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid yellow;
    display: flex;
    /*align-items:center;垂直居中*/
    justify-content: center;/*水平居中*/
}

.tt_box .home_page {
    margin-top: 10px;
    width: 80%;
    height: 50px;
    background-color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items:center;
}
  
.tt_box .home_page .left {
    float: left;
    width: 70%;
    height: 100%;
    text-align: left;
    color: #f85959;
    line-height: 1.5em；
}

.tt_box .home_page .left i {
    font-size: 23px;
}

.tt_box .home_page .right {
    flex: 1;
    text-align: right;
    float: right;
    font-size: 16px;
}
